.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom:20px;

}
.leftside{
 
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.rightside{

    margin-top:20px;
    margin-bottom: 10px;
    margin-left: 800px;
    margin-right:auto;
}
.rightside1{
    margin-top:5px;
    margin-left:1180px;
    margin-bottom:150px;
}
ul#horizontal {
    list-style-type: none;
    min-width: 700px;
    padding-top: 50px;
    padding-left: 26%;
    list-style: none;
    font-size: large;
    letter-spacing: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
    ul#horizontal li{
        display: inline;
        
        
    }

.table {
    display: table;
    margin:0 auto;
}
#outside{
    height: 50px;
    background: url(https://www.publicdomainpictures.net/pictures/30000/velka/plain-white-background.jpg) repeat-x;
}
.hope{
    color: #000;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    animation: text 2s 1;
    margin-bottom: 15px;
}
@keyframes text{
    0%{
        color:gray;


    }
    30%{
        color:black;
        letter-spacing: 25px;

    }
    85%{
        color:black;
        letter-spacing:8px;

    }
    95%
    {
        color:black;
        letter-spacing: 0px;
    }
}
.flex-left{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-left: 115px;
}
.flex-right{
    display:flex;
    flex-direction: column;
    justify-content: right;
    align-items:flex-end;
    margin-right: 115px;
}
